boto3==1.43.18
botocore==1.43.18
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==48.0.0
hypothesis==6.155.2
iniconfig==2.3.0
jmespath==1.1.0
packaging==26.2
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.2.0
pluggy==1.6.0
pycparser==3.0
Pygments==2.20.0
PyMuPDF==1.27.2.3
pypdfium2==5.8.0
pytest==9.0.3
python-dateutil==2.9.0.post0
s3transfer==0.18.0
six==1.17.0
sortedcontainers==2.4.0
urllib3==2.7.0
